.tree-item {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: -12px;
        /* Adjust based on your layout */
        top: 0;
        bottom: 0;
        width: 1px;
        /* Line thickness */
        background-color: #cbd5e1;
        /* Line color, choose as needed */
    }

    &:first-child::before {
        top: 50%;
    }

    &:last-child::before {
        bottom: 50%;
    }
}

.tree-item-container {
    padding-left: 10px;
    /* Adjust spacing for child items */
}